@font-face {
    font-family: "Permanent Marker";
    src: url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Mali";
    src: url("../fonts/Mali/Mali-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Mali";
    src: url("../fonts/Mali/Mali-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Mali";
    src: url("../fonts/Mali/Mali-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1a1c55;
}

table, th, tr, td {
    border: 1px solid #ffffff;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    color: #ffffff;
}

th {
    text-align: center;
}

table {
    width: 650px;
    margin: 0 auto;
}

.code {
    font-family: monospace;
    background-color: #50d113;
    color: #000000;
    padding: 0 8px;
}

header h1 {
    background-color: aqua;
    text-align: center;
    font-family: "Permanent Marker";
    font-size: 46px;
    position: fixed;
    width: 100%;
    line-height: 1;
    z-index: -1;
}

main {
    position: relative;
    top: 75px;
}

.main-title {
    text-align: center;
    width: 100%;
}